---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://source.unsplash.com/S_VbdMTsdiA/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Nabil Chatbi</h1>
			<h3 class="editable">a.k.a scinfu</h3>
			<p class="subtext editable">“Software & Game Developer, I am passionate about the mix of game, software and technology”</p>
			<!-- <div class="cta button alt"><a href="#">Join Now</a></div> -->
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">

	<section class="info" id="learn-more" style="background:#f55448">
		<div class="container flex">
			<div class="text">
				<h2 class="editable" style="color:white">Comic Storm</h2>
				<p class="editable" style="color:white">Download and read your favorites Comics and Mangas. Easy and free.</p>
				<div class="cta button alt" ><a href="https://itunes.apple.com/app/comic-storm/id524058686?mt=8">Downlod Now</a></div> 
			</div>
			<div class="image">
				<img class="editable" src="./images/index/comic_storm_00.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info" id="learn-more" style="background:#26b5c7">
		<div class="container flex">
			<div class="text">
				<h2 class="editable" style="color:white">Fertility Day</h2>
				<p class="editable" style="color:white">How many days after the first day of your last period are you fertile?
Fertility Day helps you with a simple and clean interface.</p>
				<div class="cta button alt"><a href="https://itunes.apple.com/app/fertility-day/id1196057309?mt=8">Downlod Now</a></div> 
			</div>
			<div class="image">
				<img class="editable" src="./images/index/fertility_day_00.png" alt="Screenshot" />
			</div>
		</div>
	</section>

<!-- 	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section> -->
</div>
