
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


        <h1>Share Buttons</h1>

        <!-- Twitter -->
        <a href="http://twitter.com/share?url=https://github.com/gschier/html-share-buttons&text=HMTL%20Share%20Buttons&via=GregorySchier" target="_blank" class="share-btn twitter">
            <i class="fa fa-twitter"></i>
        </a>

        <!-- Google Plus -->
        <a href="https://plus.google.com/share?url=https://github.com/gschier/html-share-buttons" target="_blank" class="share-btn google-plus">
            <i class="fa fa-google-plus"></i>
        </a>

        <!-- Facebook -->
        <a href="http://www.facebook.com/sharer/sharer.php?u=https://github.com/gschier/html-share-buttons" target="_blank" class="share-btn facebook">
            <i class="fa fa-facebook"></i>
        </a>

        <!-- LinkedIn -->
        <a href="http://www.linkedin.com/shareArticle?url=https://github.com/gschier/html-share-buttons&title=HMTL%20Share%20Buttons&summary=HMTL%20Share%20Buttons&source=http://schier.co/blog/2014/10/22/pure-html-share-buttons.html" target="_blank" class="share-btn linkedin">
            <i class="fa fa-linkedin"></i>
        </a>

        <!-- Email -->
        <a href="mailto:?subject=HMTL%20Share%20Buttons&body=https://github.com/gschier/html-share-buttons" target="_blank" class="share-btn email">
            <i class="fa fa-envelope"></i>
        </a>
