<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div align="center">
  <a href="http://twitter.com" target="_blank" style="margin: 50px" >
    <i class="fa fa-twitter" style="font-size: 2.5em"></i>
</a>

<a href="http://twitter.com" target="_blank" style="margin: 50px">
    <i class="fa fa-github" style="font-size: 2.5em"></i>
</a>

<a href="http://twitter.com" target="_blank" style="margin: 50px">
    <i class="fa fa-facebook" style="font-size: 2.5em"></i>
</a>

<a href="http://twitter.com" target="_blank" style="margin: 50px">
    <i class="fa fa-linkedin" style="font-size: 2.5em"></i>
</a>

<a href="http://twitter.com" target="_blank" style="margin: 50px">
    <i class="fa fa-pencil-square" style="font-size: 2.5em"></i>
</a>
</div>